/* Global Styles */
body {
    margin: 0;
    font-family: "Bricolage Grotesque", sans-serif;
    background-color: #f4f4f4;
    color: #333;
}

#root {
    max-width: 1280px;
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
}

/* Add any other global styles you need here */
